*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.budy-body {
  position: relative;
  background-color: coral;
  height: 450px;
  width: 150px;
  border: none;
  border-radius: 90px;
}

.eye {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
}

.left-eye {
  position: absolute;
  top: 90px;
  left: -15px;
}

.right-eye {
  position: absolute;
  top: 90px;
  right: -15px;
}

.iris {
  background-color: black;
  height: 50%;
  width: 50%;
  border-radius: 50%;
}

.nose{
  background-color: transparent;
  height: 30px;
  width: 15px;
  border-left: 4px solid darkred;
  border-bottom: 4px solid darkred;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-70%);
}

.mouth {
  background-color: darkred;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.ear {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  z-index: -1;
}

.left-ear {
  position: absolute;
  left: -60px;
  top: 100px;
}

.right-ear {
  position: absolute;
  right: -60px;
  top: 100px;
}

.ear-role {
  width: 45%;
  height: 30%;
  border-right: 3px solid darkred;
  border-bottom: 3px solid darkred;  
  border-radius: 50%;
}

.left-ear-role {
  border-left: 3px solid darkred;
  border-bottom: 3px solid darkred;  
}

.hair {
  width: 180px;
  height: 10px;
  border-top: 2px solid darkred;
  border-bottom: 2px solid darkred;
  transform: rotate(340deg);
  position: absolute;
  left: -30px;
  top: 40px;
}

.eyebrow {
  background-color: darkred;
  width: 40px;
  height: 3px;
  position: absolute;
  left: 10px;
  top: 80px;
}

.right-eyebrow {
  left: 100px;
}

.pants {
  position: absolute;
  bottom: 0;
  background-color: darkblue;
  height: 100px;
  width: 150px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
}

.button {
  position: absolute;
  background-color: darkgoldenrod;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  bottom: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.botton-button {
  bottom: 35%;
}

.leg {
  background-color: darkblue;
  height: 100px;
  width: 8px;
  position: absolute;
  bottom: -80px;
  left: 60px;
}

.right-leg {
  left: 85px;
}

.foot {
  position: absolute;
  background-color: black;
  height: 5px;
  width: 40px;
  bottom: 0;
  left: -40px;
}

.right-foot {
  left: 7px;  
}

.arms {
  position: absolute;
  background-color: transparent;
  width: 100px;
  height: 100px;
  left: -50px;
  bottom: -15px;
  border-top: 10px solid darkblue;
  border-radius: 50%;
  transform: rotate(320deg);
}

.right-arm {
  left: 100px;
  transform: rotate(45deg);
}

.hands {
  background-color: coral;
  width: 30px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -10px;
  transform: rotate(300deg);
}

.right-hand {
  top: 10px;
  left: 80px;
  transform: rotate(45deg);
}

.close-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 80px;
  width: 80px;
  border: none;
  border-radius: 50%;
}

.close-left-eye {
  position: absolute;
  top: 90px;
  left: -15px;
}

.close-right-eye {
  position: absolute;
  top: 90px;
  right: -15px;
}